{% extends 'basetemplate 2.html' %}
{% block content %}
                    <!-- Page content -->
                    <div id="page-content">
                        <!-- First Row -->
                        <div class="row">

                        </div>

                        <div class="row">


                            <div class="container" style="background-color: white; height: auto;">
  <form class="site-form" action="" method="post" >
              {% csrf_token %}

          {% for error in form.non_field_errors %}
              <br>
              <div class="alert alert-warning alert-dismissable">
            <p>{{ error }}</p><br>
              </div>
          {% endfor %}


        {% for fm in form %}
            <div class="form-group">
            {{ fm.label_tag }} {{ fm }}  <br> <br>
            </div>
              {% if fm.errors %}
                  <div class="alert alert-warning alert-dismissable >
                  {{ fm.errors }}
                  </div>
                {% endif %}
        {% endfor %}




        <input type="submit"  class="btn " style="background-color: #CA0028; color: white" value="Update">
    </form>
</div>

                        </div>
                        <!-- END Second Row -->


                    </div>

{% endblock %}
                    <!-- END Page Content -->
