{% extends 'basetemplate 2.html' %}
{% load static %}

{% block content %}
    <!-- Page content -->
    <div id="page-content">
        <!-- First Row -->
        <div class="row">

        </div>

        <div class="row">

            <h1 style="text-align: center;font-size:70px"><b>Your Network Connection Is Not Stable<i class="fas fa-wifi-slash "></i>
</b></h1>

                    </div>
                    <!-- END Tab Content -->
                </div>
                <!-- END Forum Block -->
            </div>

        </div>
        <!-- END Second Row -->


    </div>

{% endblock %}