{% load static %}
<!DOCTYPE html>
 <html class="no-js" lang="en">
    <head>
    <script src="https://kit.fontawesome.com/81544578fb.js" crossorigin="anonymous"></script>

        <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
        <meta charset="utf-8">

        <title>App - Admin</title>

        <meta name="description" content="AppUI is a Web App Bootstrap Admin Template created by pixelcave and published on Themeforest">
        <meta name="author" content="pixelcave">
        <meta name="robots" content="noindex, nofollow">
        <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=0">


        <link rel="shortcut icon" href="{% static 'favicon.png' %}">
        <link rel="apple-touch-icon" href="{% static 'icon57.png' %}" sizes="57x57">
        <link rel="apple-touch-icon" href="{% static 'icon72.png' %} " sizes="72x72">
        <link rel="apple-touch-icon" href="{% static 'icon76.png' %}" sizes="76x76">
        <link rel="apple-touch-icon" href="{% static 'icon114.png' %}" sizes="114x114">
        <link rel="apple-touch-icon" href="{% static 'icon120.png' %}" sizes="120x120">
        <link rel="apple-touch-icon" href="{% static 'icon144.png' %}" sizes="144x144">
        <link rel="apple-touch-icon" href="{% static 'icon152.png' %}" sizes="152x152">
        <link rel="apple-touch-icon" href="{% static 'icon180.png' %}" sizes="180x180">

        <link rel="stylesheet" href="{% static  'bootstrap.min.css'%}">

        <!-- Related styles of various icon packs and plugins -->
        <link rel="stylesheet" href="{% static 'plugins.css' %}">

        <!-- The main stylesheet of this template. All Bootstrap overwrites are defined in here -->
        <link rel="stylesheet" href="{% static 'main.css' %}">

        <!-- Include a specific file here from css/themes/ folder to alter the default theme of the template -->

        <!-- The themes stylesheet of this template (for using specific theme color in individual elements - must included last) -->
        <link rel="stylesheet" href="{% static 'themes.css' %}">
        <!-- END Stylesheets -->

        <!-- Modernizr (browser feature detection library) -->
        <script src="{% static 'modernizr-3.3.1.min.js' %}"></script>
    </head>
    <body>
        <img src="img/placeholders/layout/login2_full_bg.jpg" alt="Full Background" class="full-bg animation-pulseSlow">
        <!-- END Full Background -->

        <!-- Login Container -->
        <div id="login-container">
            <!-- Login Header -->
            <h1 class="h2 text-light text-center push-top-bottom animation-pullDown">
                <i class="fa fa-cube text-light-op"></i> <strong>AppName</strong>
            </h1>

            <div class="block animation-fadeInQuick">
                <!-- Login Title -->
                <div class="block-title">
                    <h2>Please Login</h2>
                </div>
                <!-- END Login Title -->

                <!-- Login Form -->
                <form id="form-login" method="post" action="{% url 'accounts:login' %}"  class="form-horizontal">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="login-email" class="col-xs-12">Email</label>
                        <div class="col-xs-12">
                            <input type="text" id="login-email" name="login-email" class="form-control" placeholder="Your email..">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="login-password" class="col-xs-12">Password</label>
                        <div class="col-xs-12">
                            <input type="password" id="login-password" name="login-password" class="form-control" placeholder="Your password..">
                        </div>
                    </div>
                    <div class="form-group form-actions">
                        <div class="col-xs-8">
                            <label class="csscheckbox csscheckbox-primary">
                                <input type="checkbox" id="login-remember-me" name="login-remember-me"><span></span> Remember Me?
                            </label>
                        </div>
                        <div class="col-xs-4 text-right">
                            <input type="submit"  class="btn btn-effect-ripple btn-sm btn-success" value="LOGIN">
                          <button type="submit" class="btn btn-effect-ripple btn-sm btn-success">Log In</button>
                        </div>
                    </div>
                </form>

                <hr>

            </div>

            <footer class="text-muted text-center animation-pullUp">
                <small><span id="year-copy"></span> &copy; <a href="#" target="_blank">AppName 0.1</a></small>
            </footer>
            <!-- END Footer -->
        </div>
        <!-- END Login Container -->

        <!-- jQuery, Bootstrap, jQuery plugins and Custom JS code -->
          <script src="{% static 'jquery-2.2.4.min.js' %}"></script>
        <script src="{% static 'bootstrap.min.js' %}"></script>
        <script src="{% static 'plugins.js' %}"></script>
        <script src="{% static 'app.js' %}"></script>

        <!-- Load and execute javascript code used only in this page -->
        <script src="js/pages/readyDashboard.js"></script>
        <script>$(function(){ ReadyDashboard.init(); });</script>
    </body>
</html>
