{% extends 'basetemplate 2.html' %}
{% block content %}
                    <!-- Page content -->
                    <div id="page-content">
                        <!-- First Row -->
                        <div class="row">

                        </div>

                        <div class="row">


                            <div class="container" style="background-color: white; height: auto;">
  <form class="site-form" action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
      <label>Username</label>
        {{ form.userid }}
      <label>Password</label>
        {{ form.password }}
      <label>Active status</label>
{#      <select class="form-control">#}
{#      {% for acc in acc %}#}

{#                        <option  >Verify</option>#}
{#                        {% if option == Verify %}#}
{#                            {% acc.status == 1 %}#}
{#            {% for form in form.stauts %}#}
{#                    <option  > Verify</option>#}
{#                        {% if form.status == 1 %}#}
{##}
{#                            {{ form.status  }}#}
{#                            <option selected> VErify</option>#}
{#                            {% acc.save() %}#}
{#                        {% if emp.gender == "Female" %}#}
{#                            <option value="Female" selected >Female</option>#}
{#                        {% else %}#}
{#                            <option selected> Not Verify</option>#}
{##}
{#                            {% acc.status == 0 %}#}
{#                            {% acc.save() %}#}
{#                        {% endif %}#}
{#              {% endfor %}#}

{#                    </select>#}

      {{ form.status }}
        <input type="submit"  class="btn " style="background-color: #CA0028; color: white" value="Add">
    </form>
</div>

                        </div>
                        <!-- END Second Row -->


                    </div>

      {% endblock %}